#ula {
    background-image: url(pics/200.png);
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

#ula ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#ula ul li {
    float: left;
}

#ula ul li a {
    display: block;
    width: 196px;
    height: 76px;
    border: solid 2px#92c93a;
    text-decoration: none;
    text-align: center;
    line-height: 76px;
    color: #19af4b;
    font-size: 30px;
    text-shadow: 0 0 10px rgb(67, 214, 9);
}

#ula ul li a:hover {
    border-top-color: #7bb61d;
    border-left-color: #659713;
    border-right-color: #629412;
    border-bottom-color: #578312;
    font-size: 35px;
}

#ula ul li a:active {
    border-bottom-color: #7bb61d;
    border-right-color: #659713;
    border-left-color: #629412;
    border-top-color: #578312;
    font-size: 25px;
}

.login {
    font-size: 14px;
    /* font-family: 楷体; */
    color: #453adfda;
    text-shadow: 0 0 1px #27bd60d7;
}

.botton {
    background-color: aquamarine;
    border: 0;
    border-radius: 5px;
    height: 25px;
    width: 40px;
    color: #1f1fb8c4;
    text-shadow: 0 0 1px #19b969c9;
}

#dl {
    position: relative;
    height: 150px;
    width: 200px;
    top: -100px;
    left: 500px;
}

#dl1 {
    float: left;
}

#qk {
    float: right;
}

#dl1,
#qk {
    position: relative;
    top: -12px;
}

input[type=text] {
    border: 1px solid #40dacd;
    border-radius: 10px;
    background-color: #F4B3C3;
    color: #20b3ad;
    outline: none;
    /* background-image: url(../pics/图标/023-负荷.png); */
}

input[type=text]:focus {
    border: 2px solid #e61c81;
    border-radius: 10px;
}

input[type=password] {
    border: 1px solid #40dacd;
    border-radius: 10px;
    background-color: #F4B3C3;
    color: #20b3ad;
    outline: none;
    /* background-image: url(../pics/dlbj.png); */
    /* background-position: 10px 10px; */
    /* background-repeat: no-repeat;s */
    /* padding-left: 40px; */
}

input[type=password]:focus {
    border: 2px solid #e61c81;
    border-radius: 10px;
}